.footer_section {
  background-color: aliceblue;

  &.success {
    background-color: lightgreen;
  }

  &.fail {
    background-color: lightpink;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .footer_section {
    button {
      font-size: 0.8rem;
    }
  }
}
